{% extends "base.html" %}
{% block title%}Contact{% endblock %}
{% block content%}
<div class="hero">
    <video autoplay loop muted plays-inline class="back-video">
        <source src = "static/images/contact_background.mp4" type="video/mp4">
    </video>
    <div class="overlay">
        <div class="content">
            <h2>Contact Me</h2>
            <p>cherrietenmore@gmail.com</p>
            <p>+44 7467 341 686</p>
        </div>
        <div class="content1">
            <a href="https://www.linkedin.com/in/cherrie-chen-33138724a/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/st101cc" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/cherrie____cy____" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
    <div class="buttons">
            <a href="/hobby" class="button back">Back</a>
    </div>
</div>
{% endblock %}